[server]
port="0.0.0.0:${DRONE_SERVER_PORT}"

[gitlab]
url="http://${GITLAB_PORT_80_TCP_ADDR}:${GITLAB_PORT_80_TCP_PORT}"
client="${DRONE_GITLAB_CLIENT}"
secret="${DRONE_GITLAB_SECRET}"

[database]
driver="postgres"
datasource="host=${POSTGRESQL_PORT_5432_TCP_ADDR} port=${POSTGRESQL_PORT_5432_TCP_PORT} user=${POSTGRESQL_ENV_DB_USER} password=${POSTGRESQL_ENV_DB_PASS} sslmode=disable"

[worker]
nodes=[
"unix:///var/run/docker.sock",
"unix:///var/run/docker.sock"
]

# vim: set ts=2 sw=2 expandtab:
